BASE_URL=https://habitica.lab
INVITE_ONLY=false
EMAIL_SERVER_URL=mail.example.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_AUTH_USER=user@example.com
EMAIL_SERVER_AUTH_PASSWORD=change_me
ADMIN_EMAIL=admin@example.com
