{
    admin unix//run/caddy/admin.socket
}

{% for service in services %}
http://{{ service.name }}.lab {
    # Optional: bind to a specific interface/IP (e.g. Tailscale)
    # bind 100.x.y.z

    reverse_proxy 127.0.0.1:{{ service.port }}

    header {
        -Server
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
{% endfor %}
