{
    admin unix//run/caddy/admin.socket
}

{% for service in services %}
{{ service.name }}.lab {
{% if tailscale_ip %}
    bind {{ tailscale_ip }}
{% endif %}

    tls internal

    encode gzip zstd

    reverse_proxy 127.0.0.1:{{ service.port }} {
        header_up X-Forwarded-Proto https
    }

    header {
        -Server
{% if service.security_headers | default(true) %}
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "no-referrer"
{% endif %}
    }
}
{% endfor %}
