# Dawarich config
# Full reference: https://dawarich.app/docs/self-hosting/environment-variables/
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=dawarich_production
SECRET_KEY_BASE=change_me
APPLICATION_HOSTS=dawarich.lab,localhost,127.0.0.1,::1
TIME_ZONE=change_me
