#version: "3.8"

services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: 1000:1000
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
      ND_ENABLETRANSCODINGCONFIG: "true"
    volumes:
      - /srv/homelab/navidrome:/data
      - /srv/media/music:/music:ro
    ports:
      - "4533:4533"
    restart: unless-stopped
