- name: Install Caddy
  pacman:
    name: caddy
    state: present

- name: Create Caddy config directory
  file:
    path: /etc/caddy
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy Caddyfile
  template:
    src: Caddyfile.j2
    dest: /etc/caddy/Caddyfile
    owner: root
    group: root
    mode: '0644'
  notify: Restart Caddy

- name: Enable Caddy
  systemd:
    name: caddy
    enabled: yes
    state: started
