# LimeSurvey config (martialblog/limesurvey image + MariaDB backend)
# Full reference: https://hub.docker.com/r/martialblog/limesurvey
DB_NAME=limesurvey
DB_USER=limesurvey
DB_PW=change_me
DB_ROOT_PW=change_me
ADMIN_USER=admin
ADMIN_EMAIL=admin@limesurvey.lab
ADMIN_PASSWORD=change_me
