# Mealie backend config (SQLite default, no DB container needed)
# Full reference: https://docs.mealie.io/documentation/getting-started/installation/backend-config/
ALLOW_SIGNUP=false
PUID=1000
PGID=1000
TZ=change_me
BASE_URL=https://mealie.lab
